@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


<script src="https://kit.fontawesome.com/1905a3cd60.js" crossorigin="anonymous"></script>

.body{
  font-family: 'Poppins', sans-serif;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  background-color: black;
  align-items: center;
}
.container-footer p{
  color: aliceblue;
}
.btn-button{
  position:relative;
  margin-bottom: 10px;
}